body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3e3e4;

}

.container {
    width: 50%;
    margin: 10px auto;
    background-color: white;
    padding: 20px 100px;
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.header img {
    border-radius: 50%;
    width: 150px;
}

.header h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 24px;
}

.content {
    margin-top: 20px;
}

.content h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 40px;
}

.section h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.section p {
    line-height: 1.6;
    color: #666;
    text-align: justify;
    text-justify: inter-word;

}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.section ul li:last-child {
    border-bottom: none;
}

.section a {
    color: #1e90ff;
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f1f1f1;
}

.footer p {
    margin: 0;
    color: #777;
}

.name_title {
    font-size: 38px;
    font-weight: 900;
    color: #7284b7;
}
.profile{
    display: flex;
}
.profile_text {
    flex: 1;
    padding-right: 20px;
}
.profile_text p{
    padding: 0;
    margin: 0;
}
.profile_image {
    flex: 1;
    max-width: 50%;
}
.profile_image img {
    max-width: 100%;
    height: auto;
}